/* fonts:
cirkabold
cirkalight
cirkaregular
hattonbold
hattonlight
hattonmedium
hattonultrabold
hattonultralight
hattonregular
neue_worldsuperCnLt
argesta_textregular_italic
argesta_textbold
argesta_textregular
argesta_displayregular_italic
argesta_displayregular
argesta_headlineRgIt
argesta_headlineregular
argesta_hairlineregular
argesta_hairlineRgIt
*/

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	/*box-sizing: border-box;*/
	-webkit-font-smoothing: antialiased;
	background-color: #fffefc;
}

body {
	font-family: "cirkalight";
}
h1 {
	font-size: 3rem;
	line-height: 3.5rem;
	font-family: hattonultrabold;
}

h2 {
	font-size: 3rem;
	font-family: 'argesta_hairlineregular';
	margin-bottom:1rem;
}

h3 {
	font-size: 24px;
	padding-left: 0px;
	text-align: left;
}

header {
			font-family: "helvetica Neue", sans-serif;
			font-weight: normal;
      width: 100%;
			height: 100px;
}

background {
			width: 100%
			height: 300px;
}

.tagline {
    margin-right: auto;
		margin-left: auto;
    padding-top: 16px;
		padding-left: 20px;
		padding-right: 20px;
    -webkit-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    transform: rotate(-7deg);
    font-family: 'hattonultrabold';
    font-size: 12vw;
    line-height: .75em;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    letter-spacing: -.06em;
		width:75%;
}


.rainbow {
	background: linear-gradient(225deg, #FE7474 10%, rgb(255, 178, 83) 27%, rgb(161, 255, 126) 43%, rgb(120, 187, 255) 66%, rgb(255, 99, 182)80%, #FE7474 100%);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	animation: rainbow_animation 20s linear infinite;
	background-size: 400% auto;
}


.subtitle{
	font-family:"helvetica Neue", sans-serif;
	font-style:normal;
	font-size:16px;
	align-items: center;
	display: flex;
	justify-content: center;
}

.description{
	font-family: "helvetica";
	font-weight: lighter;
	font-size: 0.7rem;
	/*font-size: 21px;*/
}

.salutations{
	margin-top:1em;
}

.signature{
	font-family: "argesta_headlineRgIt";
	font-size: 18px;

}
.letterBody{
	font-family: "helvetica";
	font-weight: normal;
	/*font-size: 21px;*/
	font-size: 1rem;
	line-height: 1.5em;
	margin-top:0px;
	margin-bottom:0px;
}

.animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 160px;
  overflow:hidden;

  font-size: 35px;
  line-height: 40px;

  &__container {
  	font-weight: 600;
		overflow: hidden;
		height: 40px;
		padding:0 40px;
  }

}

.topCard{
	align-items: center;
	line-height: 0.8;
	padding:60px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	display:flex;
	justify-content: center;
	height: auto;
	width:80%;
}

@media(max-width: 875px) {
	.topCard {
		margin-bottom: 40px;
	}

}

.cards {
	background-color: #ffffff;
	align-items: center;
	padding-top: 40px;
	padding-left: 40px;
	padding-right: 40px;
	margin-left: auto;
	width:50%;
	margin-right: auto;
}

.work {
	/* display: grid; */
	/*  align-self: center; */
	/*width:75%; */
	margin-left: auto;
	margin-right:auto;
}

.contact {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.wrap-contact100 {
  width: 500px;
	box-shadow: 0px 3px 15px -9px #000000;
  background: #fbf7f7;
  border-radius: 10px;
  overflow: hidden;
  padding: 42px 55px 45px 55px;
}

.contact100-form {
  width: 100%;
}

.contact100-form-title {
  display: block;
  font-family: Helvetica;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 13px;
  margin-bottom: 27px;
}

.label-input100 {
  font-family: Helvetica;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
  padding-left: 5px;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: helvetica;
  font-size: 18px;
  color: #333333;
  line-height: 1.2;
  padding: 0 5px;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #7f7f7f;
}

input {
    outline: none;
    border: none;
}

input.input100 {
  height: 40px;
}

textarea {
  outline: none;
  border: none;
}

textarea.input100 {
  min-height: 110px;
  padding-top: 9px;
  padding-bottom: 13px;
}


.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

.validate-input {
  position: relative;
}

/*//////////////////////////////////////////////////////////////////
[ Restyle Select2 ]*/

.select2-container {
  display: block;
  max-width: 100% !important;
  width: auto !important;
}

.select2-container .select2-selection--single {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  height: 40px;
  outline: none;
  position: relative;
}

/*------------------------------------------------------------------
[ in select ]*/
.select2-container .select2-selection--single .select2-selection__rendered {
  font-family: helvetica;
  font-size: 18px;
  color: #333333;
  line-height: 1.2;
  padding-left: 5px ;
  background-color: transparent;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.select2-selection__arrow b {
  display: none;
}

.select2-selection__arrow::before {
  content: '';
  display: block;

  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 5px solid #999999;
  margin-bottom: 2px;
}

.select2-selection__arrow::after {
  content: '';
  display: block;

  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid #999999;
}

/*------------------------------------------------------------------
[ Dropdown option ]*/
.select2-container--open .select2-dropdown {
  z-index: 1251;
  border: 0px solid #e5e5e5;
  border-radius: 0px;
  background-color: white;

  box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
}

.select2-dropdown--above {top: -30px;}
.select2-dropdown--below {top: 8px;}

.select2-container .select2-results__option[aria-selected] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.select2-container .select2-results__option[aria-selected="true"] {
  background: #a64bf4;
  background: -webkit-linear-gradient(right, #00dbde, #fc00ff);
  background: -o-linear-gradient(right, #00dbde, #fc00ff);
  background: -moz-linear-gradient(right, #00dbde, #fc00ff);
  background: linear-gradient(right, #00dbde, #fc00ff);
  color: white;
}

.select2-container .select2-results__option--highlighted[aria-selected] {
  background: #a64bf4;
  background: -webkit-linear-gradient(right, #00dbde, #fc00ff);
  background: -o-linear-gradient(right, #00dbde, #fc00ff);
  background: -moz-linear-gradient(right, #00dbde, #fc00ff);
  background: linear-gradient(right, #00dbde, #fc00ff);
  color: white;
}

.select2-results__options {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #333333;
  line-height: 1.2;
}

.select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: none;
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #333333;
  line-height: 1.2;
}

.select2-hidden-accesible {
	border: 0 !important
}

.form {
	display: block;
	margin-top: 0em;
	margin-block-end: 1em;
}

.aboutTitle{
	align-items: center;
	margin-right: 20px;
}

.container{
	display:grid;
	font-weight: lighter;
	/*align-items: center; */
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.container_work{
	display:grid;
	/*padding: 40px; */
	margin-left: auto;
	margin-right: auto;
	margin-top:auto;
}

.container_signature{
	padding:100px;
	height:100px;
	width:50%;
	display: flex;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
	padding:0px;
	margin:0px;
}

.logo {
	line-height: 60px;
	position: fixed;
	float: left;
	margin: 16px 46px;
	color: black;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 2px;
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
			z-index: 9999;
}

nav ul {
      line-height: 60px;
      list-style: none;
			color: #f35626;
      overflow: hidden;
      color: white;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

nav.black ul {
      background: white;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

nav ul li a {
      text-decoration: none;
      color: black;
      font-size: 16px;
}

nav ul li a:hover {
	color: #f35626;
background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-animation: hue 10s infinite linear;
}

nav ul li a.active-page {
	color: #f35626;
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
}


.menu-icon {
      line-height: 60px;
      width: 100%;
      background: white;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: black;
      display: none;
}
@media(max-width: 875px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: white;
      }

      nav.black ul {
            background: white;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
						color:white;
						background:white;
      }

      .menu-icon {
            display: block;
      }

}

.link {
  display: inline-block;
  padding: 15px 0;
  margin: 15px 25px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0f0f;
  font-weight: 800;
  font-size: 24px;

  .bar {
    width: 100%;
    display: inline-block;
    border-bottom: 5px solid black;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all 300ms;
  }

  &:hover {
    .bar {
      opacity: 1;
      bottom: 5px;
    }
  }
}

.gradientText {
	color: #f35626;
background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
font-family: "argesta_headlineRgIt";
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
from {
	-webkit-filter: hue-rotate(0deg);
}
to {
	-webkit-filter: hue-rotate(-360deg);
}
}

.rotatingText {
	font-family: "helvetica Neue", sans-serif;
	font-weight: normal;
	font-variant: normal;
	font-size: 18px;
	text-align: center;
	line-height: 18px;
}
.rotatingText-adjective {
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  left: 0;
  margin-bottom: 50px;
  margin-top: 175px;
	opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
	animation-delay: 9.5s;
}

.word-name {
	font-family: hattonbold;
  font-size: 90px;
  font-style: normal;
  margin-bottom: auto;
  margin-top: 215px;
  position: absolute;
	color: black;
  text-align: center;
  text-transform: uppercase;
  top: 0;
	display:block;
}
.pre-animation {
  animation-name: from-bottom;
  animation-duration: 0.3s;
	animation-timing-function: ease-in-out;
}
.post-animation {
  animation-name: to-top;
  animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
}

@keyframes to-top {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-20px);
    opacity: 0;
  }
}
@keyframes from-bottom {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.word {
	font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 100px;
  margin-top: 175px;
	opacity: 0;
  position: absolute;
	color: black;
  text-align: center;
  text-transform: uppercase;
  top: 0;
	color: #f35626;
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-animation: hue 10s infinite linear;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.underlined {
  color: black;
  flex: 1;
  font-size: 2em;
  line-height: 1.2;
  text-decoration: none;
  background-image: linear-gradient(to right, yellow 0, yellow 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background .5s;
  &:hover, {
    background-size: 100% 100%;
  }
  &--gradient {
    background-position: 0 -0.1em;
    background-image: linear-gradient(to right, yellow 0, lightgreen 100%);
  }
}

.grid-container {
	display: grid;
	margin: 0px;
	grid-template-columns: 50% 50%;
}

@media (max-width: 600px) {
	.grid-container {
			display: grid;
			grid-template-columns: 1fr;
			grid-row-gap: auto;
		}
}

.item {
	color: black;
	height: auto;
	width: auto;
	grid-gap: 10px;

}

/*

.item1 {
  grid-column: 1 / span 1;
	text-align:justify;
}
.item2 {
  grid-column: 2 / span 1;
}
*/

.column1 {
	width: 50%;
	max-width: 50%;
	grid-column:1;
	flex: 0 0 auto;
}
.column2 {
	width: 50%;
	max-width: 50%;
	flex: 0 0 auto;
}

.column-description{
 padding: 10px;
 align-items: center;
 text-align:center;
}

.row:after {
content: "";
display: table;
clear: both;
}

.btn {
  color: #3ea7f7;
  font-family: "Montserrat", sans-serif;
	text-align:center;
  text-transform: uppercase;
  text-decoration: none;
	width:100px;
  margin: 1rem;
  padding: 0.5rem;
  border: 2px solid #3ea7f7;
  border-radius: 0.5rem;
	box-shadow: 0 0.6em #2882c7, 0 0.9em rgba(0, 0, 0, 0.4);
	position: relative;
	top: 0;
	justify-content: center;
  align-items: center;
	transition: all 300ms ease-in-out;

}

.btn:hover {
  background: #3ea7f7;
  color: white;
}

.btn.b-1:hover {
  top: 0.2em;
  box-shadow: 0 0.4em #2882c7, 0 0.7em rgba(0, 0, 0, 0.4);
}

.btn.b-1:active {
  top: 0.4em;
  box-shadow: 0 0.2em #2882c7, 0 0.5em rgba(0, 0, 0, 0.4);
}

.fa-facebook {
	color: #3B5998;
	font-size: 30px;
  padding: 20px;
	margin: 10px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
	margin: 1rem;
  padding: 0.5rem;
  border: 2px solid #3B5998;
  border-radius: 0.5rem;
	box-shadow: 0 0.4em #2a437a, 0 0.5em rgba(0, 0, 0, 0.2);
	position: relative;
	top: 0;
	transition: all 300ms ease-in-out;
}

.fa-facebook:hover {
	background: #3B5998;
	color: white;
	top: 0.2em;
	box-shadow: 0 0.2em #2a437a, 0 0.3em rgba(0, 0, 0, 0.2);
}
.fa-facebook:active {
	top: 0.4em;
	box-shadow: 0 0.1em #2a437a, 0 0.1em rgba(0, 0, 0, 0.2);
}

.fa-youtube {
  color: #bb0000;
	font-size: 30px;
  padding: 20px;
	margin: 10px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
	margin: 1rem;
  padding: 0.5rem;
  border: 2px solid #bb0000;
  border-radius: 0.5rem;
	box-shadow: 0 0.4em #8a0c0c, 0 0.5em rgba(0, 0, 0, 0.2);
	position: relative;
	top: 0;
	transition: all 300ms ease-in-out;
}

.fa-youtube:hover {
	background: #bb0000;
	color: white;
	top: 0.2em;
	box-shadow: 0 0.2em #8a0c0c, 0 0.3em rgba(0, 0, 0, 0.2);
}
.fa-youtube:active {
	top: 0.4em;
	box-shadow: 0 0.1em #8a0c0c, 0 0.1em rgba(0, 0, 0, 0.2);
}

.fa-instagram {
  color: #125688;
	font-size: 30px;
	padding: 20px;
	margin: 10px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	margin: 1rem;
	padding: 0.5rem;
	border: 2px solid #125688;
	border-radius: 0.5rem;
	box-shadow: 0 0.4em #11466b, 0 0.5em rgba(0, 0, 0, 0.2);
	position: relative;
	top: 0;
	transition: all 300ms ease-in-out;
}

.fa-instagram:hover {
	background: #125688;
	color: white;
	top: 0.2em;
	box-shadow: 0 0.2em #11466b, 0 0.3em rgba(0, 0, 0, 0.2);
}
.fa-instagram:active {
	top: 0.4em;
	box-shadow: 0 0.1em #11466b, 0 0.1em rgba(0, 0, 0, 0.2);
}

.fa-dribbble {
  color: #ea4c89;
	font-size: 30px;
	padding: 20px;
	margin: 10px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	margin: 1rem;
	padding: 0.5rem;
	border: 2px solid #ea4c89;
	border-radius: 0.5rem;
	box-shadow: 0 0.4em #bf366a, 0 0.5em rgba(0, 0, 0, 0.2);
	position: relative;
	top: 0;
	transition: all 300ms ease-in-out;
}

.fa-dribbble:hover {
	background: #ea4c89;
	color: white;
	top: 0.2em;
	box-shadow: 0 0.2em #bf366a, 0 0.3em rgba(0, 0, 0, 0.2);
}
.fa-dribbble:active {
	top: 0.4em;
	box-shadow: 0 0.1em #bf366a, 0 0.1em rgba(0, 0, 0, 0.2);
}

.fa-linkedin {
  color: #007bb5;
	font-size: 30px;
	padding: 20px;
	margin: 10px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	margin: 1rem;
	padding: 0.5rem;
	border: 2px solid #007bb5;
	border-radius: 0.5rem;
	box-shadow: 0 0.4em #07628c, 0 0.5em rgba(0, 0, 0, 0.2);
	position: relative;
	top: 0;
	transition: all 300ms ease-in-out;
	}

.fa-linkedin:hover {
	background: #007bb5;
	color: white;
	top: 0.2em;
	box-shadow: 0 0.2em #07628c, 0 0.3em rgba(0, 0, 0, 0.2);
	}
.fa-linkedin:active {
	top: 0.4em;
	box-shadow: 0 0.1em #07628c, 0 0.1em rgba(0, 0, 0, 0.2);
	}

.love {
	cursor: url("https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678087-heart-64.png") 25 15, auto;
}

	.slider {
		align-items:center;
	  width: 100%;
	  text-align: center;
	  overflow: hidden;
	}

	.slides {
	  display: flex;
	  overflow-x: auto;
	  scroll-snap-type: x mandatory;
	  scroll-behavior: smooth;
	  -webkit-overflow-scrolling: touch;
	  scroll-snap-points-x: repeat(300px);
	  scroll-snap-type: mandatory;
	}
	.slides::-webkit-scrollbar {
	  width: 10px;
	  height: 10px;
	}
	.slides::-webkit-scrollbar-thumb {
	  background: black;
	  border-radius: 10px;
	}
	.slides::-webkit-scrollbar-track {
	  background: transparent;
	}
	.slides > div {
	  scroll-snap-align: start;
	  flex-shrink: 0;
	  width: 100%;
	  height: 10%;
	  margin-right: 50px;
	  border-radius: 2px;
	  background: #eee;
	  transform-origin: center center;
	  transform: scale(1);
	  transition: transform 0.5s;
	  position: relative;

	  display: flex;
	  justify-content: center;
	  align-items: center;
	  font-size: 100px;
	}
	.slides > div:target {
	/*   transform: scale(0.8); */
	}
	.author-info {
	  background: rgba(0, 0, 0, 0.75);
	  color: white;
	  padding: 0.75rem;
	  text-align: center;
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  width: 100%;
	  margin: 0;
	}
	.author-info a {
	  color: black;
	}

	img {
	  object-fit: cover;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	}

	.slider > a {
	  display: inline-flex;
	  width: 1.5rem;
	  height: 1.5rem;
	  background: white;
	  text-decoration: none;
	  align-items: center;
	  justify-content: center;
	  border-radius: 50%;
	  margin: 0 0 0.5rem 0;
	  position: relative;
	}
	.slider > a:active {
	  top: 1px;
	}
	.slider > a:focus {
	  background: #000;
	}

	/* Don't need button navigation */
	@supports (scroll-snap-type) {
	  .slider > a {
	    display: none;
	  }
	}

.rowTest{
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 14px;
		-moz-column-gap: 14px;
		column-gap: 14px;
		-webkit-column-rule: 1px solid transparent;
		-moz-column-rule: 1px solid transparent;
		column-rule: 1px solid transparent;
	}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #aaa;
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  min-height: 200px;
  border: 2px #ccc solid;
  color: #fff;
}

.graphic-design {

}

.workRow {
	display:flex;
}

.workColumn1 {
	flex:33%;
	margin-left:10em;
	margin-right:1em;
}

.workColumn2 {
	flex: 66%;
	flex-direction: column;
	margin-left:1em;
	margin-right:10em;
}

.fixed {
	margin-left: auto;
	margin-right: auto;
	margin-top:auto;
	position: -webkit-sticky;
  position: sticky;
	top: 100;
}
.scrollit {
	align-self:center;
	width: 100%
}
