body {
  text-align: center;
  text-transform: uppercase;
  padding: 50px 0;
}

.box {
  display: grid;
  align-items: center;
  justify-content: center;
  background: #aaa;
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  min-height: 200px;
  border: 2px #ccc solid;
  color: #fff;
}
